*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
    font-size: 1em;
}

.overview,.teams, .reports, .products, .messages{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 90vh;
    font-size: 3rem;
}

.overview {
    background-image: url('./images/home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .teams {
    background-image: url('./images/services.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .products {
    background-image: url('./images/products.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .reports {
    background-image: url('./images/contact.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .messages {
    background-image: url('./images/signup.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  

  

